.image-gallery {
 border-radius: 0.5rem;
 /* width: 100%; */
}

.image-gallery-content {
 border-radius: 0.5rem;
}

.image-gallery-slide-wrapper {
 border-radius: 0.5rem;
}

.image-gallery-swipe {
 border-radius: 0.5rem;
}

.image-gallery-slides {
 border-radius: 0.5rem;
}

.image-gallery-slide,
.image-gallery-right,
.featured-slide {
 border-radius: 0.5rem;
}

.image-gallery-image,
.image-gallery-image.active {
 border-radius: 0.5rem;
 height: 100%;
}

.image-gallery-thumbnail-image,
.image-gallery-thumbnail-image.active {
 border-radius: 0.5rem;
}

.featured-thumb {
 outline: none;
 border: none;
 padding: 5px 5px;
}

.featured-thumb.active,
.featured-thumb:focus {
 outline: none;
 border: none;
}

.featured-thumb:hover {
 outline: none;
 border: none;
}

/* .image-gallery-thumbnail.active {
 outline: none;
 border: none;
} */

/* .image-gallery-thumbnail {
 border-radius: 0.5rem;
 border: 0px solid transparent;
} */

/* .image-gallery-thumbnail-inner {
 border-radius: 0.5rem;
 border: 0px solid transparent;
} */

/* .image-gallery-thumbnail:focus {
 outline: none;
 border: 4px solid transparent;
} */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
 height: 20;
 width: 15px;
}
